/*Style your own assignment! This is fun! */
body {
	background-color: #00e6e6;
	text-align: center;
}
h1, h2 {
	color:  #990000;
	font-family: 'Itim', cursive;
}

.kitten {
	height: 200px;
	width: auto;
	margin: 1em 1em 1em 1em;
}

.kitten-big {
	margin: .6em .6em .6em .6em;
	height: 250px;
}

a:link {
	color: #990000;
	font-family: 'Shrikhand', cursive;
}
a:visited {
	color: #800000;
	font-family: 'Shrikhand', cursive;
}
a:hovor {
	 color: #4d0000;
	 font-family: 'Shrikhand', cursive;
}
.smiley {
	color: #4d0000;
}
#kitten_table {
	padding-left: 32%;	
}